

.display{
    width: 65%;
    margin-left: 20%;
    border-right: 1px solid gray;
}

.display-container{
    display: flex;
}

.salary-area{
    padding: 20px;
    width: 35%;
    margin-left: 20px;

}